body {
  background: #eee;
}

.widget .panel-body {
  padding: 0px;
}

.widget .list-group {
  margin-bottom: 0;
}

.widget .panel-title {
  display: inline;
}

.widget .label-info {
  float: right;
}

.widget li.list-group-item {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
  background-color: rgba(86, 61, 124, 0.1);
}

.widget .mic-info {
  color: #666666;
  font-size: 20px;
}

.widget .action {
  margin-top: 5px;
}

.widget .comment-text {
  font-size: 15px;
}

.widget .btn-block {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.downbutton {
  float: right;
}

.comment-sendtext {
  resize: none;
}

.licit-section {
  margin-bottom: 5%;
  border: #eee;
}

.product-times {
  display: inline-block;
  padding: 5px;
  float: right;
}

#timer {
  display: flex;
  flex-wrap: initial;
  text-align: right;
}

#timer div {
  padding: 2px;
}

.table {
  width: 100%;
}

#hours {
  font-size: 25px;
}

#minutes {
  font-size: 25px;
}

#seconds {
  font-size: 25px;
}

#days {
  font-size: 25px;
}

